body{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/src/components/images/hero-cover.3.png);
   background-size: 100% 100vh;
   background-repeat: no-repeat;
   margin-left: 27vh;
   margin-right: 27vh;
}
.Container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    row-gap: 75px;
}
.Header{
    width:30%;
    color:white
}
.HeaderText{
    color: white;
    width: 50%;
}
.Buttons{
    display: flex;
    justify-content: space-between;
    gap:20px ;
    height: 30px;
    
}
.Buttons button{
    border-radius: 20px;
    border: 0px;
}
.bluebtn{
    background-color: skyblue;
}
.Home_cards{
    display: flex;
    justify-content: space-between ;
    gap: 30px;
    
}
.rowcards{
    display: flex;
    justify-content: space-between ;
    gap: 30px;
}
.first{
    background-color: white;
}
.Home_cards img{
    width: 10%;
    height: 10%;
}
.second{
    background-color: white;
}
.third{
    background-color: skyblue;
}